@page "/peliculas/crear"


<h3>Crear Pelicula</h3>

<FormularioPelicula OnValidSubmit="Crear" Pelicula="Pelicula"></FormularioPelicula>

@*<button class="btn btn-primary" @onclick="Crear">Salvar Pelicula.</button>*@

@code {

    private Pelicula Pelicula = new Pelicula();

    private void Crear()
    {
        Console.WriteLine(NavigationManager.Uri);
        NavigationManager.NavigateTo("pelicula/5/emilio");
    }

}
