@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

<h3>Crear Pelicula</h3>

@if(MostrarFormulario)
	{
        <FormularioPelicula OnValidSubmit="Crear" Pelicula="Pelicula" GenerosNoSeleccionados="GenerosNoSeleccionados"></FormularioPelicula>

}
else
{
    <text>Cargando.....</text>
}

@*<button class="btn btn-primary" @onclick="Crear">Salvar Pelicula.</button>*@

@code {

    public bool MostrarFormulario { get; set; } = false;
    private Pelicula Pelicula = new Pelicula();
    private List<Genero> GenerosNoSeleccionados = new List<Genero>();

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repositorio.Get<List<Genero>>("api/generos");
        GenerosNoSeleccionados = responseHttp.Response;
        MostrarFormulario = true;
    }

    async Task Crear()
    {
        var httpResponse = await repositorio.Post<Pelicula, int>("api/peliculas", Pelicula);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetBody();
            await mostrarMensajes.MostrarmensajeError(mensajeError);
        }
        else
        {
            var PeliculaId = httpResponse.Response;
            navigationManager.NavigateTo($"/pelicula/{PeliculaId}/{Pelicula.Titulo.Replace(" ", "-")}");
        }
    }

}
