@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

<h3>Crear Pelicula</h3>

<FormularioPelicula OnValidSubmit="Crear" Pelicula="Pelicula" GenerosNoSeleccionados="GenerosNoSeleccionados"></FormularioPelicula>

@*<button class="btn btn-primary" @onclick="Crear">Salvar Pelicula.</button>*@

@code {

    private Pelicula Pelicula = new Pelicula();
    private List<Genero> GenerosNoSeleccionados = new List<Genero>();

    protected override void OnInitialized()
    {
        GenerosNoSeleccionados = new List<Genero>
{
            new Genero{ Id = 1, Nombre = "Comedia" },
            new Genero{ Id = 2, Nombre = "Drama" },
            new Genero{ Id = 3, Nombre = "Terror" },
            new Genero{ Id = 4, Nombre = "Acción" },
            new Genero{ Id = 5, Nombre = "Sci-Fi" },
        };

    }

    async Task Crear()
    {
        var httpResponse = await repositorio.Post<Pelicula, int>("api/peliculas", Pelicula);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetBody();
            await mostrarMensajes.MostrarmensajeError(mensajeError);
        }
        else
        {
            var PeliculaId = httpResponse.Response;
            navigationManager.NavigateTo($"/pelicula/{PeliculaId}/{Pelicula.Titulo.Replace(" ", "-")}");
        }
    }

}
