 @if (Peliculas == null)
        {
            <div class="spinner"></div>
        }
        else if (Peliculas.Count == 0)
        {
            <text> No hay registros para mostrar..... </text>
        }
        else
        {
     
     <input  type="checkbox" @bind="MostrarBotones"/>

            @foreach (var pelicula in Peliculas)
            {
               <PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones" Eliminarpelicula="EliminarPelicula"></PeliculaIndividual>
            }
        }

@code
{

    [Parameter] public List<Pelicula> Peliculas { get; set; }
    bool MostrarBotones = true;

    void EliminarPelicula(Pelicula pelicula)
    {
        Peliculas.Remove(pelicula);
        Console.WriteLine($"Se ha eliminado una Película: {pelicula.Titulo}");
    }

}