@page "/generos/crear"

<h3>Crear Genero</h3>

<FormularioGenero Genero="Genero" OnValidSubmit="Crear"></FormularioGenero>

@code {
    private Genero Genero = new Genero();


    private void Crear()
    {
        Console.WriteLine("Ejecutando el método Crea.");
        Console.WriteLine($"Nombre del género: {Genero.Nombre}");
    }

}