@page "/generos/crear"

<h3>Crear Genero</h3>


<EditForm Model="Genero" OnValidSubmit =" Crear">
    <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre: </label>
            <div class="col-sm-10">
                <InputText class="form-control" id="nombre" placeholder="Nombre....." @bind-Value="@Genero.Nombre"></InputText>
                <ValidationMessage For="@(() => Genero.Nombre)"></ValidationMessage>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Guardar Genero.</button>
       </div>
    </EditForm>

@code {
    private Genero Genero = new Genero();


    private void Crear()
    {
        Console.WriteLine("Ejecutando el método Crea.");
        Console.WriteLine($"Nombre del género: {Genero.Nombre}");
    }

}