@page "/generos/crear"
@inject IRepositorio repositorio;
@inject NavigationManager NavigationManager;

<h3>Crear Genero</h3>

<FormularioGenero Genero="Genero" OnValidSubmit="Crear"></FormularioGenero>

@code {
    private Genero Genero = new Genero();

    string  urlApi= "api/generos";

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post(urlApi, Genero);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }
        else
        {
            NavigationManager.NavigateTo("/generos");
        }

        //Console.WriteLine("Ejecutando el método Crea.");
        //Console.WriteLine($"Nombre del género: {Genero.Nombre}");
    }

}