<h3>Child Compenet</h3>
<hr />

<div class="card card-deck">
    <div class="card-title">@Title</div>
    <div class="card-body">@ChildContent</div>
</div>
<br />
<br />
<button class="btn btn-primary" @onclick="OnClickCallback">Trigger a PArent component method</button>

@code {

    [Parameter] public string Title { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

[Parameter] public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

}
