@page "/"
@inject IRepositorio repositorio
   
    <div>
        <h3>Peliculas</h3>
        <hr />
        <ListadoPeliculas Peliculas="Peliculas"></ListadoPeliculas>
    </div>

    @code{

        private List<Pelicula> Peliculas;


        protected override Task OnInitializedAsync()
        {

            //Peliculas = ObtenerPeliculas();
            Peliculas = repositorio.ObtenerPeloculas();

            return base.OnInitializedAsync();
        }
       
    }
